<div class=container-fluid>
    <div class="alert alert-dark" role="alert">
        <h2>paymentdetails</h2>
    </div>
    <table class="table table-primary">
        <thead>
    
            <th>ID</th>
            <th>Customer ID</th>
            <th>Payment_amount</th>
            <th>Currency</th>
            <th>From_Account</th>
            <th>To_Account</th>
            <th>Beneficiary</th>
            <th>Charges</th>
            <th> Banned Currency</th>
            <th>limitperday</th>
            <th>Customertype</th>
            <th>CreditCardTypes</th>
            <th>Currencies</th>
            <th>Countries</th>
            <th>cities</th>
            <th>Application_Status</th>
        </thead>
        <tr *ngFor="let p of pd;">
            <td>{{p.id}}</td>
            <td>{{p.Customerid}}</td>
            <td>{{p.payment_amount}}</td>
            <td>{{p.currency}}</td>
            <td>{{p.from_Account}}</td>
            <td>{{p.To_Account}}</td>
            <td>{{p.beneficiary_account}}</td>
            <td>{{p.bank_charges}}</td>
            <td>{{p.banned_currency}}</td>
            <td>{{p.limitperday}}</td>
            <td>{{p.CustomerTypes}}</td>
            <td>{{p.CreditCardTypes}}</td>
            <td>{{p.Currencies}}</td>
            <td>{{p.Countries}}</td>
            <td>{{p.Cities}}</td>
            <td>{{p.Application_Status}}</td>

    
        </tr>
    
    </table>
    </div>
    