<div class="container-fluid">
    <div class="alert alert-primary" role="alert">
        <h1>FOREX CALCULATION</h1>
    </div>

  

    <div class="card">
        <div class="card-header">
            Forex calculation
        </div>
        <div class="card-body">
            <h5 class="card-title">ENTER AMOUNT</h5>
            <p class="card-text">convert to INR,USD,EUR.</p>
            <input type="text" placeholder="Enter amount" [(ngModel)]="amountentered" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CONVERT CURRENCY FROM</h5>

                    <select name="cur" (change)="from($event)">
                        <option value="INR">INR</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CONVERT CURRENCY TO</h5>
                    <select name="cur" (change)="to($event)">
                        <option value="INR">INR</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                    </select>

                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h5 class="card-title">CONVERTED VALUE</h5>
                <button type="button" class="btn btn-primary" (click)="cal()"> convert </button>
                
                    <div> <h2>{{cal1}}</h2></div>
            </blockquote>
        </div>
    </div>
</div>